<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nadine.assign42019abdelkrimouajjit">

    <!--
    Reference : https://developer.android.com/training/appbar/setting-up#java.
    Reference : https://developer.android.com/guide/topics/manifest/activity-element#wsoft.
    In the app manifest, setting the <application> element to use one of appcompat's NoActionBar themes.
    Using one of these themes prevents the app from using the native ActionBar class to provide the app bar.
    android:theme="@style/Theme.AppCompat.Light.NoActionBar
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider" android:authorities="${applicationId}" android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"
                tools:replace="android:resource"/> </provider>
    </application>

</manifest>

